@keyframes appearop {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.menu .cate {
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1), -2px -2px 2px white;
}

.menu {
  position: relative;
  top: 96px;
  margin: 0 auto;
  width: 1196px;
  height: 66px;
  font-size: 24px;
  background-color: #f6f6f6;
  border-radius: 6px;
  transition: all 0.3s linear;
}

.menu:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.menu ul {
  margin-left: 120px;
  line-height: 66px;
}

.menu li {
  display: inline-block;
  margin-left: 90px;
}

.menu a {
  font-family: '楷体';
  padding: 4px;
  color: black;
  transition: all 0.2s linear;
  background-image: url(/index_images/简餐速食.png);
}

/* .menu li:hover a {
  background-color: #FFFFFF;
  border-radius: 6px;
} */
.menu li a:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1), -2px -2px 2px white;
  background-color: #FFFFFF;
  border-radius: 6px;
}

.show {
  position: relative;
  top: 96px;
  width: 1200px;
  height: 900px;
  background-color: rgba(204, 204, 204, 0.1);
  animation-name: appearop;
  animation-duration: 3s;
}

.show .title {
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}

.title {
  width: 800px;
  height: 30px;
}

.card {
  width: 1200px;
  height: 700px;

}

.card_one {
  position: relative;
  top: 50px;
  margin-bottom: 60px;
  margin-left: 70px;
  width: 300px;
  height: 250px;
  overflow: hidden;
  display: inline-block;
}

.card_up {
  width: 300px;
  height: 300px;

}

.card_one img {
  width: 300px;
  height: 200px;
  border-radius: 12px;
  box-shadow: 4px 2px 4px 0px #aaa8a8;

}

.card_one h1 {
  margin-top: 5px;
  text-align: center;
  border-radius: 12px;
  background-color: #f2f2f2;
}

.card_hidden {
  color: #f2f2f2;
  width: 300px;
  height: 200px;
  background-color: rgba(204, 204, 204, 0.8);
  transition: all 0.3s linear;
}

.card_hidden p {
  width: 260px;
  height: 200px;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
}

.card_one:hover .card_hidden {
  border-radius: 12px;
  transform: translateY(-300px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
}

footer {
  position: relative;
  top: 36px;
}